.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.login-box {
  padding: 2rem;
  border: 0.1rem solid #000;
  border-radius: 1rem;
  margin: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.login-button {
  position: relative;
  left: 15.7rem;
}
