<div class="admin-panel" *ngIf="panelIsVisible()">
  <div class="admin-panel__item">
    <button routerLink="/admin/addCategory">Add category</button>
  </div>
  <div class="admin-panel__item">
    <button routerLink="/admin/modifyCategory">Modify category</button>
  </div>
  <div class="admin-panel__item">
    <button routerLink="/admin/deleteCategory">Delete category</button>
  </div>
  <div class="admin-panel__item">
    <button routerLink="/admin/addProduct">Add product</button>
  </div>
  <div class="admin-panel__item">
    <button>Modify product</button>
  </div>
  <div class="admin-panel__item">
    <button>Delete product</button>
  </div>
</div>
