<h1 class="category">{{ category.name }}</h1>
<h3>{{ category.description }}</h3>
<button mat-button [matMenuTriggerFor]="menu">Sort</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="sortDescending()">Price descending</button>
  <button mat-menu-item (click)="sortAscending()">Price ascending</button>
</mat-menu>
<div class="wrapper">
  <div *ngFor="let product of products; trackBy: identify">
    <div class="element">
      <div class="product" [routerLink]="['/products', product.id]">
        <img [src]="product.imageUrl" />
        <div class="product__name">{{ product.name }}</div>
        <div>{{ product.price }} zł</div>
      </div>
      <div class="product__buttons">
        <button
          mat-icon-button
          *ngIf="product.id"
          (click)="openDialog(); addToCart(product.id)"
        >
          <mat-icon class="product__shoppping-cart">add_shopping_cart</mat-icon>
        </button>
        <button mat-icon-button (click)="onFavoriteClicked(product)">
          <mat-icon class="product__favorite">favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
