<div class="register-box">
  <h2>Sign up</h2>
  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Username</mat-label>
    <input matInput type="text" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Email</mat-label>
    <input matInput type="email" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Password</mat-label>
    <input matInput type="password" />
  </mat-form-field>
  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Repeat password</mat-label>
    <input matInput type="password" />
  </mat-form-field>
  <button mat-button class="register-button">Sign up</button>
</div>
