<h1 class="cart__title">Cart</h1>
<div class="container">
  <div class="cart__container">
    <div class="item">
      <h3 class="item__name">Product name</h3>
      <img
        class="item__image"
        src="https://f00.esfr.pl/foto/9/74418197017/4496109e04696dc3a2ef50d9ad610db7/acer-laptop-aspire5-i5-11gen-8gb-512ssd-no-os,74418197017_8.jpg"
      />
      <h3 class="item__price">Cena: 1000 zł</h3>
      <div class="item__shopping-cart">
        <button mat-raised-button class="item__shopping-cart__button">
          <mat-icon>remove_shopping_cart</mat-icon>
          <span>Remove from cart</span>
        </button>
      </div>
    </div>
  </div>
  <div class="order__container">
    <h2 class="order__summary">Summary</h2>
    <h3>Products total price: suma</h3>
    <h3>Delivery costs: suma</h3>
    <h3>Total price: suma</h3>
    <button mat-raised-button class="order__button">
      <mat-icon>arrow_forward</mat-icon>
      <span>Order</span>
    </button>
  </div>
</div>
