<h1 class="cart__title">Cart</h1>
<div class="container" *ngIf="cart.items.length !== 0; else emptyCart">
  <div class="cart__container">
    <div class="item" *ngFor="let item of cart.items">
      <app-cart-item [item]="item" (reloadItems)="getCart()"></app-cart-item>
    </div>
  </div>
  <div class="order__container">
    <h2 class="order__summary">Summary</h2>
    <h3>Products total price: {{ cart.totalPrice }} zł</h3>
    <h3>Delivery costs: 15 zł</h3>
    <h3>Total price: {{ cart.totalPrice + 15 }} zł</h3>
    <button (click)="order()" mat-raised-button class="order__button">
      <mat-icon>arrow_forward</mat-icon>
      <span>Order</span>
    </button>
  </div>
</div>
<ng-template #emptyCart>
  <div class="empty">Your cart is empty</div>
</ng-template>
