.header {
  font-weight: 500;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: rgb(173, 216, 230) dotted 0.15rem;
}

.container {
  display: flex;
  flex-direction: column;
}
.category {
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.fields {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem;

  &_description {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &_url {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.checkboxes {
  display: flex;
  justify-content: space-around;
}
