<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="../assets/Logo.png" alt="logo" routerLink="/" />
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button class="shopping-cart-icon" [routerLink]="'/cart'">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-button routerLink="/login">Login in</button>
  <button mat-button routerLink="/register">Sign up</button>
  <button mat-menu-item><mat-icon>account_circle</mat-icon>My account</button>
  <button mat-menu-item><mat-icon>settings</mat-icon>Settings</button>
  <button mat-menu-item><mat-icon>favorite</mat-icon>Wish list</button>
</mat-menu>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <div class="categories">
      <h2>Categories</h2>
      <ng-container *ngFor="let category of categories; let i = index">
        <button
          [routerLink]="['/category', i + 1]"
          (click)="sidenav.toggle()"
          mat-button
        >
          {{ category.name }}
        </button>
      </ng-container>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
