<div class="container" *ngIf="product">
  <h1 class="product__name">{{ product.name }}</h1>
  <div class="product__image">
    <img [src]="product.imageUrl" />
  </div>
  <div class="product__details">
    <h1>Price: {{ product.price }} zł</h1>
    <h3>{{ product.description }}</h3>
    <button
      *ngIf="product.id"
      mat-raised-button
      class="product__shopping-cart"
      (click)="openDialog(); addToCart(product.id)"
    >
      <mat-icon>add_shopping_cart</mat-icon>
      <span>Add to cart</span>
    </button>
  </div>
  <div class="product__description"></div>
</div>
