@import "../../importable/colors.scss";

.wish-list {
  font-weight: 500;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: rgb(173, 216, 230) dotted 0.15rem;
}

.favorited {
  &__title {
    font-weight: 500;
    padding-left: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: $lightblue dotted 0.15rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border: $lightblue solid 0.1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;

  &__name {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  &__image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 10rem;
  }

  &__price {
    grid-column-start: 4;
    grid-column-end: 5;
  }

  &__remove-button {
    grid-column-start: 5;
    grid-column-end: 6;
    background-color: $lightblue;
    color: $white;
  }

  &__description {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}
