<h1 class="bestsellers">Bestsellers</h1>
<button mat-button [matMenuTriggerFor]="menu">Filter</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="filterByCategories()">All</button>
  <ng-container *ngFor="let category of categories">
    <button mat-menu-item (click)="filterByCategories(category.id)">
      {{ category.name }}
    </button>
  </ng-container>
</mat-menu>
<div class="wrapper">
  <div *ngFor="let product of filteredProducts; trackBy: identify">
    <div class="element">
      <div class="product" [routerLink]="['/products', product.id]">
        <img [src]="product.imageUrl" />
        <div class="product__name">{{ product.name }}</div>
        <div>{{ product.price }} zł</div>
      </div>
      <div class="product__buttons">
        <button
          mat-icon-button
          *ngIf="product.id"
          (click)="addToCart(product.id)"
        >
          <mat-icon class="product__shopping-cart">add_shopping_cart</mat-icon>
        </button>
        <button mat-icon-button (click)="onFavoriteClicked(product)">
          <mat-icon class="product__favorite">favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
